.font-94
{
  font-size: 94px;
}
.font-68
{
  font-size: 68px;
}
.font-62
{
  font-size: 62px;
}
.font-88
{
  font-size: 88px;
}
.font-77
{
  font-size: 77px;
}
.font-72
{
  font-size: 72px;
}
.font-49
{
  font-size: 49px;
}
.font-46
{
  font-size: 46px;
}
.font-32
{
  font-size: 32px;
}
