*,
*::after,
*::before{
    box-sizing: border-box;
}

html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

body {
	font-family: 'Epilogue', sans-serif;
	font-weight: 400;
   background-color: #000;
   color: #FCFCFC;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
   font-family: 'Epilogue', sans-serif;
	font-weight: 400;
    font-size: 54px;
    line-height: 47px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    position: relative;
 }

 .title::before{
    position: absolute;
    content: "";
    background-image: url('../images/header-title-decor.svg');
    background-repeat: no-repeat;
    top: -52px;
    right: 0;
    left: -53px;
    bottom: 0;
 }

 /* font-family: 'Epilogue', sans-serif;
font-family: 'Playfair Display', serif;
 font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
 font-family: 'Roboto Condensed', sans-serif; */


 .header{
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
 }

 .header__top{
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 238px;
 }

 .header__top-btn{
    background-color: transparent;
    cursor: pointer;
    border: none;
 }

 .header__content{
    position: relative;
    padding-left: 71px;
 }

 .header__content::before{
    position: absolute;
    content: "";
    background-image: url('../images/header-title-decor.svg');
    background-repeat: no-repeat;
    top: -52px;
    right: 0;
    left: 9px;
    bottom: 0;
 }

 .header__title{
    font-weight: 500;
    font-size: 94px;
    line-height: 96px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
 }

 .header__subtitle{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 94px;
    line-height: 125px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 64px;
 }

 .header__decor-image{
    float: right;
 }

 .subtitle{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-size: 54px;
    line-height: 47px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 91px;
 }

 .showreel__video{
    background-image: url('../images/showreel-video-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1015px;
    height: 457px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 260px;
 }

 .showreel__video-icon{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 108px;
   height: 108px;
   border-radius: 50%;
   background: rgba(255, 255, 255, 0.13);
   border: 1px solid rgba(255, 255, 255, 0.38);
   backdrop-filter: blur(6px);
 }

 .showreel__content{
    margin-bottom: 171px;
 }

 .showreel__items{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    grid-gap: 48px;
 }

 .showreel__item-img img{
   background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.78) 100%);
 }

 .showreel__item-content{
    position: absolute;
   margin-top: -85px;
   margin-left: 44px;
 }

 .showreel__item-title{
   font-weight: 400;
   font-size: 14px;
   line-height: 14px;
   letter-spacing: -0.02em;
   color: rgba(252, 252, 252, 0.59);
   margin-bottom: 15px;
 }

 .showreel__item-subtitle{
    font-weight: 400;
   font-size: 22px;
   line-height: 35px;
   letter-spacing: -0.02em;
   color: #FCFCFC;
 }

 .clients{
    background-color: #F7F7F7;
    margin-bottom: 174px;
 }

 .clients__title{
    text-align: center;
    padding-top: 174px;
    font-size: 54px;
    line-height: 47px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 14px;
 }

 .clients__title span{
   font-family: 'Playfair Display', serif;
   font-style: normal;
   font-weight: 400;
 }

 .clients__text{
   font-size: 16px;
   line-height: 28px;
   text-align: center;
   letter-spacing: -0.02em;
   max-width: 435px;
   margin: 0 auto;
   margin-bottom: 115px;
 }

 .clients__logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 140px;
 }

 .clients__link{
    display: block;
   font-family: 'Epilogue', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   text-align: center;
   letter-spacing: -0.02em;
   color: #518F5A;
   text-decoration: none;
   padding-bottom: 124px;
 }

 .about{
    margin-bottom: 283px;
 }

 .about__slider{
    margin-bottom: 268px;
 }

.about__slider-items{
   display: flex;
   justify-content: space-between;
}

.about__slider-item__img{
   position: relative;
}

.about__slider-item__content{
   position: absolute;
   margin-top: -207px;
   margin-left: 39px;
}

.about__slider-item--low {
   padding-top: 141px;
}

.about__slider-item__title{
   font-family: 'Playfair Display', serif;
   font-style: normal;
   font-weight: 400;
   font-size: 73px;
   line-height: 97px;
   letter-spacing: -0.02em;
   text-transform: uppercase;
}

.about__slider-item__text{
   font-size: 16px;
   line-height: 28px;
   letter-spacing: -0.02em;
   max-width: 435px;
}

.about__bottom-item{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.about__bottom-item + .about__bottom-item{
   margin-top: 18px;
}

.about__bottom-title{
   font-family: 'Playfair Display', serif;
   font-weight: 400;
   font-style: normal;
   font-size: 62px;
   line-height: 83px;
   color: #fff;
}

.about__bottom-text{
   font-weight: 400;
   font-size: 13px;
   line-height: 24px;
   color: #fff;
   max-width: 250px;
   padding-bottom: 10px;
   padding-bottom: 62px;
}

.about__bottom-icon{
   font-family: 'Playfair Display', serif;
   font-weight: 400;
   font-style: normal;
   font-size: 62px;
   line-height: 83px;
   color: rgba(255, 255, 255, 0.19);
}

.about__bottom-title--last{
   padding-top: 52px;
   padding-left: 122px;
}

.about__bottom-img--radius{
   border-radius: 50%;
}

.reviews__title,
.reviews__subtitle{
   text-align: center;
   font-size: 54px;
   line-height: 47px;
   letter-spacing: -0.02em;
   text-transform: uppercase;
}

.reviews__title{
   position: relative;
   font-weight: 400;
}

.reviews__title::before{
   content: "";
   position: absolute;
   background-image: url('../images/rewiews-title-decor.svg');
   background-repeat: no-repeat;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.reviews__subtitle{
   font-family: 'Playfair Display', serif;
   font-style: normal;
   font-weight: 400;
   margin-bottom: 48px;
}

.rewiews__slider-item__text{
   font-weight: 400;
   font-size: 40px;
   line-height: 46px;
   text-align: center;
   color: #88888D;
   max-width: 781px;
   margin: 0 auto;
   margin-bottom: 36px;
}

.rewiews__slider-item__author{
   font-weight: 600;
   font-size: 24px;
   line-height: 32px;
   text-align: center;
   color: #fff;
}

.rewiews__slider-item__author span{
   display: block;
   font-size: 14px;
   line-height: 20px;
   text-align: center;
}

.blog__slider{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.blog__slider-item__link{
   font-family: 'Epilogue', sans-serif;
   font-size: 14px;
   line-height: 14px;
   font-weight: 400;
   color: #fff;
   text-decoration: none;
   width: 117px;
   height: 117px;
   border-radius: 50%;
}